html
    form#frm_login(name="Login", action="#")
        table(width="620", border="0", align="CENTER", cellspacing="0", cellpadding="0")
            tr
                td(align="CENTER", width="320")
                    | 아이디;
                    input#userid(type="TEXT", size="10", maxlength="20")
                    | 패스워드;
                    input#password(type="PASSWORD", size="10", maxlength="20")
                    button#login(width="41", height="22", style="CURSOR:HAND") 로그인;
